<div class="flex justify-between items-center">
    <h2 class="py-[20px] text-[36px] font-bold">Product Table</h2>
    <div class="py-[20px]">
        <button routerLink="/admin/create" type="button" class="text-white bg-pink-500 hover:bg-pink-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Add New</button>
    </div>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-purple-500">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prd of prdList" class="odd:bg-purple-200 even:bg-purple-300 items-center">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{prd.title}}
                </th>
                <td class="px-6 py-4">
                    {{prd.price | currency:'VND'}}
                </td>
                <td class="px-6 py-4">
                    <img class="max-w-[100px]" [src]="prd.image" alt="">
                </td>
                <td class="px-6 py-4">
                    {{prd.category}}
                </td>
                <td class="px-6 py-4">
                    {{prd?.description | truncate:30}}
                </td>
                <td class="px-6 py-4">
                    <button type="button" class="text-white bg-indigo-500 hover:bg-indigo-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 " routerLink="/admin/update/{{prd.id}}" routerLinkActive="router-link-active"  >Edit</button>
                    <button type="button" class="text-white bg-pink-700 hover:bg-pink-900 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 " (click)="delettePrd(prd.id)" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

